<div class="col-lg-12">
<h2> Big Name
	<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-default btn-sm", style: "margin-bottom: 10px" %> 
	<%%= link_to 'Back', <%= index_helper %>_path, class: "btn btn-default btn-sm", style: "margin-bottom: 10px" %>
	<br>
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
	  <small><%= attribute.human_name %>: <%%= @<%= singular_table_name %>.<%= attribute.name %> %></small><br>
  <% end -%>
</h2>
 <p>
	 textarea fields in paragraph tags with simple_format in front
 </p>
</div>

